[uwsgi]
project = {{ application_name }}
uid = {{ webapp_user }}
gid = {{ webapp_group }}

chdir = {{ git_repo_path }}/site/
module = {{ application_name }}.wsgi:application
socket = {{ uwsgi_socket }}
venv = {{ virtualenv_path }}/
binary-path = {{ virtualenv_path }}/bin/uwsgi

chmod-socket = 666
chown-socket = {{ webapp_user }}:{{ webapp_group }}
vacuum = true

master = true
processes = 5
buffer-size = 32768
max-requests = 5000

logto = {{ uwsgi_log_dir }}/{{ application_name }}.log
log-date = true
logfile-chown = {{ webapp_user }}

env=LANG=en_AU.UTF-8
env=LC_ALL=en_AU.UTF-8
env=DJANGO_SETTINGS_MODULE={{ django_settings_file }}
