---

- name: Setup the Git repo
  git: repo={{ git_repo }}
       version={{ git_branch }}
       dest={{ git_repo_path }}
       accept_hostkey=yes
  when: setup_git_repo is defined and setup_git_repo
  tags: git

- name: Set git config to ignore file perm changes
  git_config:
    name: core.filemode
    scope: global
    value: false

- name: Make sure git repo dir belongs to webapp user
  file:
    path: "{{ git_repo_path }}"
    recurse: yes
    owner: "{{ webapp_user }}"
    group: "{{ webapp_group }}"
    state: directory
    mode: 0755
