---

- include: create_users_and_groups.yml

- include: set_file_permissions.yml

- include: set_timezone.yml

- include: create_swap_file.yml
  when: create_swap_file
  tags: swap

- name: Place 404, 500 and maintenance pages
  template: src={{ item }}.j2
            dest={{site_template_path}}/{{ item }}.html
            backup=yes
  with_items:
    - "404"
    - "500"
    - "maintenance_off"

- name: Ensure bash, OpenSSL, and libssl are the latest versions
  apt: name={{ item }} update_cache={{ update_apt_cache }} state=latest
  with_items:
    - bash
    - openssl
    - libssl-dev
    - libssl-doc
  tags: packages

- name: Install base packages
  apt: name={{ item }} update_cache={{ update_apt_cache }} force=yes state=installed
  with_items:
    - build-essential
    - acl
    - ntp
    - htop
    - git
    - libpq-dev
    - python-dev
    - python-pip
    - python-pycurl
    - ipython
    - supervisor
  tags: packages

- name: Upgrade pip
  pip: name=pip state=latest
  tags: packages
